<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>verba.io</string>
	<key>CFBundleDisplayName</key>
	<string>verba.io</string>
	<key>CFBundleIdentifier</key>
	<string>com.john.verbaio</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>VerbaIO</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Records your voice for transcription</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Converts speech to text</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
